@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.btn-primary{
    background-color:#26528C;
    border-color: #26528C;
    margin-left: 5px;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover { 
    text-decoration: none;
    color: black;
 }
.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px
}

.btn-primary:hover{
    background-color: #26528C;
    border-color: #26528C;  
}

#containerLoginButtons{
    text-align: right;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.contentMainView{
    z-index: 10px;
    background: #DBEAEF;
}

.bannerr{
    z-index: 10px;
    background: #DBEAEF;
}

.container-fluid.text-left{
    max-width: 200px;
}

#precioMaxNoche{
    max-width: 500px;
}

.btn-verMapa{
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-control{
    width: 100% !important;
}
.main{
    width: 100%;
    height: 100%;
}
#contentMainView{
    width: 100%;
    height: 100%;
}

#cardLugares, #divLugares{
    height: 100%;
}

.button-lugares{
    bottom: 0;
}