@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.btn-primary{
    background-color: #79BDC6;
    border-color: #79BDC6;
    margin-left: 5px;
}
.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px
}

.btn-primary:hover{
    background-color: #DAEAEF;
    border-color: #79BDC6;  
}

#containerLoginButtons{
    text-align: right;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.content{
    z-index: 10px;
    background: #DAEAEF;
}

.banner{
    z-index: 10px;
    background: #DAEAEF;
}

.container-fluid.text-left{
    max-width: 200px;
}

#precioMaxNoche{
    max-width: 500px;
}


.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

.btn-verMapa{
    margin-bottom: 10px;
    margin-top: 10px;
}